# Auto detect text files and perform LF normalization
* text=auto

# Prioritize PHP for GitHub Linguist stats
*.php linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
